.homepage {
  background-color: #e7feff;
  text-decoration: none;
  text-align: center;
}

.homeimage {
  height: 500px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
